@charset "ISO-8859-1";
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  height: 100%;
 background: #f9ebd1;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color:#dca913;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-left: 20px;
  padding-top:  10px;

}
a{font-size: 22px;}
.header{height: 40px; color: white; position: static; top:0; left:0; width:100%;height: 90px;  background-color: rgba(230, 169, 19, .7);}
img{margin-bottom: 50px;}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  padding-left: 25px;
  height: 30px;

}
 
.sidebar a.active {
  background-color: #f9ebd1;
  color: black;
  border: 2px solid ;border-right:0px;border-color:black;
 border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 25px;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #f2d4ac;
  color: black;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

div.content {
  margin-left:300px;
  padding: 1px 16px;
  padding-top: 0px;
  margin-top: 40px;
  margin-right: 40px;

  background-color:  white;
  min-height: 800px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.editors{background-color: rgb(0,0,0,0.3);min-height: 200px ;display: flex;
  justify-content: center;
  align-items: center;

}


.dataa{width: 300px;height: 50px;margin: 20px;}
input[type=text], input[type=number],input[type=password],textarea,select,input[type=date],input[type=time]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button]{height: 30px;width: 80px;margin-bottom: 10px}
input[type=button]:hover{background-color: lightblue;color: black;transform: translateY(-3px);}
button {width: 120px;height: 50px;border-radius: 15px;margin: 10px;box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);}

button[type=save]{background-color: #2EE59D;box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);}
button[type=print]{background-color:#698cf5;box-shadow: 0px 15px 20px rgba(73, 112, 230, 0.4);color: white;}
button[type=print]:hover,button[type=printd]:hover,button[type=submit]:hover,button[type=signin]:hover{background-color: #4970e6;box-shadow: 0px 15px 20px rgba(73, 112, 230, 0.4);transform: translateY(-3px);color: white}
button[type=edit],button[type=delete],button[type=reset],button[type=approve],button[type=remove],button[type=returned],button[type=printd]{background-color: #c4c2bc;}
button[type=add],button[type=confirm]{background-color: #2EE59D;box-shadow: 0px 15px 20px rgba(38, 125, 25, 0.4);}
button[type=add]:hover{background-color: #2EE59D;box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);transform: translateY(-3px);}
button[type=save]:hover,button[type=approve]:hover,button[type=confirm]:hover{background-color: #2EE59D;box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);color: #fff;transform: translateY(-3px);}
button[type=edit]:hover,button[type=returned]:hover,button[type=login]:hover,button[type=signup]:hover{background-color: #f5a742;box-shadow: 0px 15px 20px rgba(247, 141, 20, 0.4);color: #fff;transform: translateY(-3px);}
button[type=delete]:hover,button[type=remove]:hover{background-color: #d9253a;box-shadow: 0px 15px 20px rgba(247, 20, 47, 0.4);color: #fff;transform: translateY(-3px);}
button[type=cancel]:hover{background-color: black;box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);color: #fff;transform: translateY(-3px);}
button[type=logout]:hover,button[type=Acc]:hover{background-color: black;box-shadow: 0px 15px 20px rgba(255, 204, 0, 0.4);color: #fff;transform: translateY(-3px);}
.button{
  display: flex;
  justify-content: center;
  align-items: center; 
}



h3{float: right;text-align:right;margin-top:30px;margin-right: 180px;display: inline-block;;color: white;}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-top: 10px;
  margin-right: 70px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 93%;
  border: 1px solid #ddd;

}


th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid;
}
th{background-color: #f9ebd1;}

button.action{width: 100px;height: 30px;margin-bottom: 5px;margin-top: 0px;margin-right: 0px;margin-left: 0px;}
#mybutton {
position: absolute;
  top: 150px;
  right: 160px;
}
#logot{ margin: 0;
    position: absolute
    ;margin-left: 40px;margin-top: 20px;
  }


#confirm {
            display: none;
            background-color:#ffbe14;
            color: #000000;
            border: 5px solid black ;
            border-radius: 25px;
            padding: 15px;
            position: fixed;
            width: 400px;
            height: 200px;
            left: 40%;
            top: 250px;
            box-sizing: border-box;
            text-align: center;
         }
         #confirm .message,#delete .message{
            font-size: 35px;
         }
         #confirm button,#delete button{padding-bottom: 10px;}

#delete {
            display: none;
            background-color:#ffbe14;
            color: #000000;
            border: 5px solid black ;
            border-radius: 25px;
            padding: 15px;
            position: fixed;
            width: 400px;
            height: 200px;
            left: 40%;
            top: 250px;
            box-sizing: border-box;
            text-align: center;
         }
         